.about{
    padding: 100px 0 120px;
    background-color: $whiteShade;
    p {
        max-width: 80%;
    }
}

.favThings {
    transform: translateY(-5%);
    background: linear-gradient(90deg, $rustRed 51%, transparent 49%);
    margin-bottom: 40px;
    .favThingsContent{
        display: flex;
        justify-content: space-between;
        transform: translateY(-5%);
    }
}

.favThingsText{
    flex-basis: calc(50% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 80px;
}

.favThingsImage {
    flex-basis: calc(50%);
    display: flex;
    img {
        object-fit: cover;
    }
}

.travel {
    transform: translateY(10%);
    background: linear-gradient(90deg, transparent 51%, #f6a823 49%);
    .travelContent{
        transform: translateY(-5%);
        display: flex;
        justify-content: space-between;
    }
}

.travelText {
    flex-basis: calc(50% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
    margin-right: 80px;
}

.travelImage {
    flex-basis: calc(50%);
    display: flex;

    img {
        object-fit: cover;
    }
}

.categories {
    background-color: $whiteShade;
    padding: 80px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
    
        li {
            flex-basis: calc(50% - 40px);
            display: flex;
            margin: 20px 20px;

        }
    }
}

.categoriesImage {
    flex-basis: 10%;
    margin-right: 20px;
    position: relative;
}

.categoriesText {
    flex-basis: 90%;
}

.icon {
    background: $orangeYellow;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    img {
        width: 40%;
    }
}

.backgroundImage {
    min-height: 45vh;
    background-image: url("../assets/home-image-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.journey {
    padding: 80px 0;
    background-color: $whiteShade;
    .wrapper {
        display: flex;
    }
}

.journeyImage {
    flex-basis: calc(25% - 40px);
    img {
        box-shadow: $orangeYellow 15px 15px;
    }
}

.journeyText{
    flex-basis: calc(75% - 60px);
    margin-left: 60px;
}

.gallery{
    display: flex;
    justify-content: center;
    padding: 80px 0;
    ul{
        display: flex;
        li {
            flex-basis: calc((100% / 3) - 20px);
            margin: 0 10px;
        }
    }
}
