/******* HOME PAGE HEADER STYLES START *******/
.homeHeader{
    background-color: $orangeYellow;
    min-height: 75vh;
    justify-content: center;
    padding-top: 40px;
    background: linear-gradient(180deg, $orangeYellow 95%, $whiteShade 95%);
    display: flex;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // min-height: 100%;
}

.headerContent {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-right: 30px;

    .headerTextImage{
        position: absolute;
        top: -40px;
        left: -40px;
        img {
            max-width: 22vw;
        }
    }
    .headerText{
        margin: auto 0;
        h2{
            font-family: $headingFont;
            font-size: 11vw;
        }
    }
}

.headerImage {

    min-height: 100%;
    display: flex;
        img {
        object-fit: cover;
        box-shadow: white 15px 15px;
    }
}
/******* HOME PAGE HEADER STYLES END *******/

/******* BLOG & CONTACT PAGE HEADER STYLES START *******/
.blogHeader, .contactHeader{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    display: flex;
    .wrapper{
        min-height: 100%;
        position: relative;
    }
    h2 {
        font-family: $headingFont;
        font-size: 4rem;
        line-height: 4.6rem;
        margin: 0;
        text-transform: uppercase;
        position: absolute;
        bottom: -45px;
    }
}

.blogHeader{
    background-image: url("../assets/blog-image-1.jpg");
}
.contactHeader {
    background-image: url("../assets/contact-image-1.jpg");
}
/******* BLOG & CONTACT PAGE HEADER STYLES END *******/


