/*************************** MEDIA QUERY FOR LARGE SCREENS START ***************************/
@media (min-width: 2800px) {
    /******* HOME HEADER STYLES START - LARGE SCREENS *******/
    .homeHeader {
        min-height: 25vh;
        h2 {
            font-size: 5vw;
        }
    }
    .headerContent .headerText h2 {
        font-size: 5vw;
    }
    /******* HOME HEADER STYLES END - LARGE SCREENS *******/
}

@media (min-width: 1200px) and (max-width: 2799px){
    /******* HOME HEADER STYLES START - LARGE SCREENS *******/
    .homeHeader {
        min-height: 25vh;
    }
    .headerContent .headerText h2 {
        font-size: 8vw;
    }
    /******* HOME HEADER STYLES END - LARGE SCREENS *******/
}
/***************************MEDIA QUERY FOR LARGE SCREENS END ***************************/

/****************** MEDIA QUERY FOR TABLET START ******************/
@media (max-width: 940px) {
    /******* DESKTOP NAV STYLES START - TABLET SCREENS *******/
    .desktopNav {
        position: absolute;
        left: -2000px;
    }
    /******* DESKTOP NAV STYLES END - TABLET SCREENS *******/

    /******* MOBILE NAV STYLES START - TABLET SCREENS *******/
    .mobileNav {
       display: revert;
   
    }

    nav .wrapper ul {
        position: absolute;
        background-color: $orangeYellow;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        height: calc(100vh - 55px);
        z-index: 1;
        left: -2000px;
        top: 55px;
    }
    
    .logo {
        display: none;
    }
    /******* MOBILE NAV STYLES END - TABLET SCREENS *******/

    /************** HOME PAGE STYLES START - TABLET SCREENS **************/
    /******* HEADER STYLES START - TABLET SCREENS *******/
    .headerContainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .headerImage {
        margin-top: 10%;
        min-height: 60%;
    }   

    .headerContent {
        margin-right: 0;
        .headerText h2 {
            font-size: 18vw;
        }
        .headerTextImage {
            position: absolute;
            top: -20%;
            left: -10%;
        }
    }

    .blogHeader,
    .contactHeader {
        min-height: 20vh;
        h2 {
            font-size: 3rem;
        }
    }
    /******* HEADER STYLES END - TABLET SCREENS *******/

    /******* FACT SECTION STYLES START - TABLET SCREENS *******/
    .favThings,
    .travel {
        background: none;
        transform: translateY(0);
    }

    .favThingsContent {
        flex-direction: column;
    }

    .favThingsText,
    .travelText {
        margin: 0;
        h3 {
            margin-top: 30px;
        }
    }

    .favThingsImage {
        margin-bottom: 20px;
        box-shadow: $rustRed 8px 8px;
    }

    .travelContent {
        flex-direction: column-reverse;
    }

    .travelText {
        text-align: left;
        align-items: flex-start;
    }

    .travelImage {
        margin-bottom: 20px;
        box-shadow: $orangeYellow -8px 8px;
    }
    /******* FACT SECTION STYLES END - TABLET SCREENS *******/

    /******* CATEGORIES SECTION STYLES START - TABLET SCREENS *******/
    .categories {
        ul li {
            flex-basis: calc(100%);
        }
    }
    /******* CATEGORIES SECTION STYLES END - TABLET SCREENS *******/

    /******* JOURNEY SECTION STYLES START - TABLET SCREENS *******/
    .journey {
        padding: 50px 0;
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
    }

    .journeyText {
        margin: 40px 0 0;
        h3 {
            text-align: center;
        }
    }
    /******* JOURNEY SECTION STYLES END - TABLET SCREENS *******/
    /************** HOME PAGE STYLES END - TABLET SCREENS **************/

    /************** BLOG PAGE STYLES START - TABLET SCREENS **************/
    /******* BLOG SECTION STYLES START - TABLET SCREENS *******/
    .blogContent .wrapper {
            flex-direction: column-reverse;
            h4 {
                margin: 0 0 10px;
            }
        }
    /******* BLOG SECTION STYLES END - TABLET SCREENS *******/

    /******* SIDE SECTIONS STYLES START - TABLET SCREENS *******/
    .sideContent {
        display: flex;
        margin:20px 0 0 0;
    }

    .profile {
        flex-basis: calc(50%);
        display: flex;
        margin: 0 10px 0 0;
        .profileText{
            margin-left: 20px;
        }
    }

    .recentPost {
        flex-basis: 50%;
    }
    /******* SIDE SECTIONS STYLES END - TABLET SCREENS *******/
    /************** BLOG PAGE STYLES END - TABLET SCREENS **************/

    /************** CONTACT PAGE STYLES START - TABLET SCREENS **************/
    .contactContent .wrapper {
        flex-direction: column-reverse;
    }

    .contactInfo {
        margin: 30px 0;
    }
    /************** CONTACT PAGE STYLES END - TABLET SCREENS **************/
}
/*************************** MEDIA QUERY FOR TABLET ENDS ***************************/

/*************************** MEDIA QUERY FOR MOBILE STARTS ***************************/
@media (max-width: 600px) {
    /******* BASE STYLES START - MOBILE SCREENS *******/
    a.moreButton {
        min-width: 100%;
    }
    /******* BASE STYLES END- MOBILE SCREENS *******/

    /******* HEADER STYLES START - MOBILE SCREENS *******/
    .homeHeader {
        min-height: 56vh;
    }

    .headerImage img {
    box-shadow: white 8px 8px;
    }

    .blogHeader h2,
    .contactHeader h2 {
        font-size: 2rem
    }
    /******* HEADER STYLES END - MOBILE SCREENS *******/

    /************** HOME PAGE STYLES START - MOBILE SCREENS **************/
    /******* ABOUT SECTION STYLES START - MOBILE SCREENS *******/
    .about .wrapper {
        h3 {
            text-align: center;
        }
        p {
            min-width: 100%;
        }
    }
    /******* ABOUT SECTION STYLES END - MOBILE SCREENS *******/

    /******* CATEGORIES SECTION STYLES START - MOBILE SCREENS *******/
    .categories {
        padding: 50px 0;
        ul li {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    .categoriesImage {
        margin: 0;
        .icon {
            position: revert;
            margin: 10px;
            min-width: 80px;
            min-height: 80px;
        }
    }

    .categoriesText a {
        margin-top: 10px;
        align-self: center;
        }
    /******* CATEGORIES SECTION STYLES END - MOBILE SCREENS *******/

    /******* GALLERY SECTION STYLES START - MOBILE SCREENS *******/
    .gallery {
        padding: 50px 0;
        ul {
            align-items: center;
            flex-direction: column;
            li {
                margin: 10px 0;
            }
        }
    }
    /******* GALLERY SECTION STYLES END - MOBILE SCREENS *******/
    /************** HOME PAGE STYLES END - MOBILE SCREENS **************/

    /************** BLOG PAGE STYLES START - MOBILE SCREENS **************/
    /******* BLOG SECTION STYLES START - MOBILE SCREENS *******/
    .blogPost {
        h3, p:first-of-type{
            text-align: center;
        }
    }
    /******* BLOG SECTION STYLES END - MOBILE SCREENS *******/

    /******* SIDE SECTION STYLES START - MOBILE SCREENS *******/
    .sideContent {
        flex-direction: column;
        margin: 0;
    }

    .profile {
        margin: 40px 0 20px;
    }
    /******* SIDE SECTION STYLES END - MOBILE SCREENS *******/
    /************** BLOG PAGE STYLES END - MOBILE SCREENS **************/
    
    /******* FORM STYLES START - MOBILE SCREENS *******/
    .inputKeys {
        flex-direction: column;
    }

    form{
        input {
            flex-basis: 100%;
            &:first-of-type {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
    /******* FORM STYLES END - MOBILE SCREENS *******/
}
/*************************** MEDIA QUERY FOR MOBILE ENDS ***************************/