@media (min-width: 2800px) {
    .homeHeader {
        min-height: 25vh;
        h2 {
            font-size: 5vw;
        }
    }
    .headerContent .headerText h2 {
        font-size: 5vw;
    }

}

@media (min-width: 1200px) and (max-width: 2799px){
    .homeHeader {
        min-height: 25vh;
    }
    .headerContent .headerText h2 {
        font-size: 8vw;
    }
}

@media (max-width: 940px) {
    .desktopNav {
        position: absolute;
        left: -2000px;
    }

    .mobileNav {
        position: revert;
    }

    .headerContainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .headerImage {
        margin-top: 10%;
        min-height: 60%;
    }   

    .headerContent {
        margin-right: 0;
        .headerText h2 {
            font-size: 18vw;
        }
        .headerTextImage {
            position: absolute;
            top: -20%;
            left: -10%;
        }
    }

    .blogHeader,
    .contactHeader {
        min-height: 20vh;
        h2 {
            font-size: 3rem;
        }
    }

    .favThings,
    .travel {
        background: none;
        transform: translateY(0);
    }

    .favThingsContent {
        flex-direction: column;
    }

    .favThingsText,
    .travelText {
        margin: 0;
        h3 {
            margin-top: 30px;
        }
    }

    .favThingsImage {
        margin-bottom: 20px;
        box-shadow: $rustRed 8px 8px;
    }

    .travelContent {
        flex-direction: column-reverse;
    }

    .travelText {
        text-align: left;
        align-items: flex-start;
    }

    .travelImage {
        margin-bottom: 20px;
        box-shadow: $orangeYellow -8px 8px;
    }

    .categories {
        ul li {
            flex-basis: calc(100%);
        }
    }

    .journey {
        padding: 50px 0;
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
    }

    .journeyText {
        margin: 40px 0 0;
        h3 {
            text-align: center;
        }
    }

    .blogContent .wrapper {
            flex-direction: column-reverse;
            h4 {
                margin: 0 0 10px;
            }
        }

    .sideContent {
        display: flex;
        margin:20px 0 0 0;
    }

    .profile {
        flex-basis: calc(50%);
        display: flex;
        margin: 0 10px 0 0;
        .profileText{
            margin-left: 20px;
        }
    }

    .recentPost {
        flex-basis: 50%;
    }

    .contactContent .wrapper {
        flex-direction: column-reverse;
    }

    .contactInfo {
        margin: 30px 0;
    }
}

@media (max-width: 600px) {
    a.moreButton {
        min-width: 100%;
    }

    .homeHeader {
        min-height: 56vh;
    }

    .headerImage img {
    box-shadow: white 8px 8px;
    }

    .blogHeader h2,
    .contactHeader h2 {
        font-size: 2rem
    }

    .about .wrapper {
        h3 {
            text-align: center;
        }
        p {
            min-width: 100%;
        }
    }
    

    .categories {
        padding: 50px 0;
        ul li {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    .categoriesImage {
        margin: 0;
        .icon {
            position: revert;
            margin: 10px;
            min-width: 80px;
            min-height: 80px;
        }
    }

    .categoriesText h3 {
            text-align: center;
        }

    .gallery {
        padding: 50px 0;
        ul {
            align-items: center;
            flex-direction: column;
            li {
                margin: 10px 0;
            }
        }
    }


    .blogPost {
        h3, p:first-of-type{
            text-align: center;
        }
    }

    .sideContent {
        flex-direction: column;
        margin: 0;
    }

    .profile {
        margin: 40px 0 20px;
    }
    
    .inputKeys {
        flex-direction: column;
    }

    form{
        input {
            flex-basis: 100%;
            &:first-of-type {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}