/******* DESKTOP NAV STYLES START *******/
nav{
    background-color: $orangeYellow;

}
nav .wrapper{
    padding: 10px 0;
    display: flex;
    height: fit-content;
    justify-content: center;
    .navMenu {
            display: flex;
            justify-content: center;
        }
    h1 {
        font-size: 2.1rem;
        line-height: inherit;
        margin: 0 15px;
    }
    a {
        margin: 0 10px;
        padding: 10px ;
        border: 2px solid transparent;
        transition: color .7s ease;
        &:hover {
            color: $whiteShade;
        }

        &:focus {
            color: $whiteShade;
        }
    }
}

// Highlights the current page you are on in the nav
.currentPage {
    color: white;
}
/******* DESKTOP NAV STYLES START *******/

/******* MOBILE NAV STYLES START *******/
button.mobileNav{
    background: none;
    border: none;
    padding: 0;
    min-width: fit-content;
    display: none;
}

.mobileNav div {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    border-radius: 20px;
    background-color: $black;
}
// .mobileNav {
//     position: absolute;
//     right: -10000px;
//     width: 100vw;
//     overflow: hidden;
//     background: $orangeYellow;
//     display: flex;
//     padding: 10px 0;
//     .wrapper {
//         display: flex;
//     }
//     h1 {
//         font-size: 2.1rem;
//         line-height: 2.2rem;
//         transition: color .7s ease;
//         margin-left: 30px;
//         &:hover {
//             color: $whiteShade;
//         } 
//         &:focus {
//             color: $whiteShade;
//         }
//     }
//     button {
//         min-width: 1.5rem;
//         background-color: transparent;
//         padding: 0;
//         border: none;
//         align-self: flex-end;
//         img{
//             &:hover {
//                 filter: brightness(0) invert(1);
//             }
            
//             &:focus {
//                 color: $whiteShade;
//                 filter: brightness(0) invert(1);
//             }
//         }
//     } 
// }
// /******* MOBILE NAV STYLES END *******/