/******* DESKTOP NAV STYLES START *******/
nav{
    background-color: $orangeYellow;

}
nav .wrapper{
    padding: 10px 0;
    display: flex;
    height: fit-content;
    justify-content: center;
    .navMenu {
            display: flex;
            justify-content: center;
        }
    h1 {
        font-size: 2.1rem;
        line-height: inherit;
        margin: 0 15px;
    }
    a {
        margin: 0 10px;
        padding: 10px ;
        border: 2px solid transparent;
        transition: color .7s ease;
        &:hover {
            color: $whiteShade;
        }

        &:focus {
            color: $whiteShade;
        }
    }
}

// Highlights the current page you are on in the nav
.currentPage {
    color: white;
}
/******* DESKTOP NAV STYLES START *******/

/******* MOBILE NAV STYLES START *******/
button.mobileNav{
    background: none;
    border: none;
    padding: 0;
    min-width: fit-content;
    display: none;
}

.mobileNav div {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    border-radius: 20px;
    background-color: $black;
}
/******* MOBILE NAV STYLES END *******/